@import url('https://fonts.googleapis.com/css?family=Cairo');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*
Used a nesting code to put my images on top of the background and be able to change their relative
positioning
https://stackoverflow.com/questions/43247837/display-image-on-top-of-blurred-background-image

*/
.parent{
  position: relative;
  height: 100%;

}
/*
I used code academy for adding a blur effect on the background
https://www.codecademy.com/resources/docs/css/filter-functions/blur
lowered the blur a bit

The background was found from this website
https://browsecat.art/other/nu-gundam-wallpapers

*/
.background{
  background-image: url(background.png);
    position: fixed;
    top:0;
    left:0;
    width:100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    filter: blur(5px);
}
/*
Title code was developed by Hakkam Abdullah I changed his example with my in game name
https://www.sliderrevolution.com/resources/css-text-animation/
*/
.title {
    font-family: "Cairo";
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    letter-spacing: 1px;
    line-height:2;
    z-index: 3;
  }
  
  h1 {
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 120px;
    margin: 10px 0;
  }

  /*
  Has all the pictures of the gundams used and in what position they are in.
  The left most gundam is the first serise I saw and then progresses going right.
  */

  /*
  Barbatos is in Iron Blooded Orphans it is a side story in the gundam universe taking place in a 
  seperate universe. It is a good way to first get started and get used to gundam.
  */
.barbatos{
  background-image: url(https://i.pinimg.com/originals/a9/fb/6f/a9fb6f45630b297212106c92502db7bd.jpg);
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  display: block;
  position: absolute;
  z-index: 1;
  top:1%;
  left:1%;
}

/*
Aerial is from another side story and is the most recent gundam release
*/
.aerial{
  background-image: url(https://preview.redd.it/aerial-gundam-v0-brtgpmlsme6b1.jpg?width=640&crop=smart&auto=webp&s=77fc7918b142ae759c002492ffca875df6a14b7e);
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  display: block;
  position: absolute;
  z-index: 1;
  top:1%;
  left:18%;
  background-position-x: 90%;
}

/*
RX-78 is from the original 80s Mobile Suit Gundam Anime and the very first gundam to be show cased taking place
in the Universal Century Timeline.
*/
.rx-78{
  background-image: url(https://i.pinimg.com/564x/af/f3/be/aff3be5aa71285cb43d574b38fd5079b.jpg);
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  display: block;
  position: absolute;
  z-index: 1;
  top:1%;
  left: 36%;
}

/*
Zeta Gundam is the second gundam taking place in the mobile suit gundam anime.
UC timeline.
*/
.zeta{
  background-image: url(https://blog.alltheanime.com/wp-content/uploads/2016/11/e3ecd2f8d9deacbe047124a593cfc95a1354921179_full.jpg);
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  display: block;
  position: absolute;
  z-index: 1;
  top:1%;
  left:68%;
  
}

/*
Stardust Memory is a optional sequal that takes place right after Zeta and goes a little more indepth with
the different subfactions that emerage after the one year war.
The Gundam in the serise is named Gundam GP01 "Zephyranthes"
*/
.zephyranthes{
  background-image: url(https://hoganreviews.co.uk/wp-content/uploads/2019/08/gundam-0083-stardust-memory-3.jpg?w=560&h=390);
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  display: block;
  position: absolute;
  z-index: 1;
  top:1%;
  left:88%;  
}

h2 {
  color: black;
  font-size: 40px;    
}