@import url('https://fonts.googleapis.com/css?family=Cairo');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: sans-serif;

}
.background{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    min-height: 100vh;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.title {
    font-family: "Cairo";
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    letter-spacing: 1px;
    line-height:2
  }
  
  h1 {
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 120px;
    margin: 10px 0;
  }

  .gallery{
    display: inline-block;
    border: 1px solid hsl(0,0%,60%);
    margin: 5px;
  }

  .gallery .desc{
    padding: 10px;
    text-align:center;
  }
